<div ng-view>
    <div id="wizard" class="{{ state }}">
        <header>
            <div class="errors"></div>
        </header>
        <div id="intro">
            @{ Html.RenderPartial("Wizard/Intro"); }
        </div>
        <div id="enter-name">
            @{ Html.RenderPartial("Wizard/EnterName"); }
        </div>
        <div id="enter-address">
            @{ Html.RenderPartial("Wizard/EnterAddress"); }
        </div>
        <div id="complete">
            @{ Html.RenderPartial("Wizard/Complete"); }
        </div>
        <footer>
            <div class="progress"></div>
        </footer>
    </div>
</div>
