<div id="wizard" class="{{ state }} row">
    <header>
        <div class="panel-title">{{ title }}</div>
        <div class="errors"></div>
    </header>
    <div class="form-control-static">
        <wizard-intro></wizard-intro>
        <wizard-enter-name></wizard-enter-name>
        <wizard-enter-address></wizard-enter-address>
        <wizard-complete></wizard-complete>
    </div>
    <footer>
        <div class="row">
            <wizard-controls></wizard-controls>
            <div class="progress">
                <div class="progress-bar progress-bar-info" ng-style="progressStyle"></div>
            </div>
        </div>
    </footer>
</div>
