<div id="wizard" class="{{ state }} panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ title }}&nbsp;</h3>
    </div>
    <div class="form-control-static panel-body" style="min-height: 400px;">
        <wizard-intro></wizard-intro>
        <wizard-enter-name></wizard-enter-name>
        <wizard-enter-address></wizard-enter-address>
        <wizard-complete></wizard-complete>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-6">
                <div class="errors"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <wizard-controls></wizard-controls>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="min-height: 20px;">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" ng-style="progressStyle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
